* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 0px 15px black;
    margin-left: 10px;
    margin-right: 10px;
}

html {
    background-image: url('https://wallpapersmug.com/download/1920x1080/3bcbc6/digital-art-neon-bubbles.jpg'); /* wallpaper: https://wallpapersmug.com/w/download/1920x1080/digital-art-neon-bubbles-3bcbc6 */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

button {
    cursor: pointer;
    min-width: 200px;
    min-height: 30px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
}

.card {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    backdrop-filter: blur(30px);
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.8);
    padding: 11px;
}

.icon {
    border-radius: 50%;
}

.img-text {
    display: flex;
    justify-content: space-around;
}

#separator {
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px black;
}